<h2 class="title">Editando Diagrama de Classes</h2>
<%= form_for @diagrama, url: class_diagram_diagramas_path do |f| %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :nome %>
        <%= f.text_field :nome, value: val_of(@diagrama, :nome), class: 'form-control', autofocus: true %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block" style='margin-top: 35px;' accesskey="s">Salvar Diagrama</button>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= link_to 'Gerar Diagrama', class_diagram_diagramas_path(params[:id]), class:"btn btn-dark btn-block", style: 'margin-top: 35px;', accesskey: 'g' %>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <button type="button" onclick="location.href='<%= class_diagram_diagramas_index_path %>';" class="btn btn-dark btn-block" style="margin-top: 35px;", accesskey='v'>Voltar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <fieldset class="border p-2">
        <legend>Classes</legend>
        <% if @classes.empty? %><p class="alert-item">Nenhuma classe cadastrada.</p><% end %>
          <% if !@classes.empty? %>
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Esteótipo</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @classes.each do |classe| %>
                  <tr>
                    <td width="42.5%"><%= classe.nome %></td>
                    <td width="42.5%"><%= classe.estereotipo %></td>
                    <td width="7.5%"><%= link_to 'Editar', edit_class_diagram_classes_path(classe, cldiag_id: params[:id]), class: 'btn btn-dark btn-block' %></td>
                    <td width="7.5%"><%= link_to 'Excluir', class_diagram_classes_path(classe), method: :delete, class: 'btn btn-dark btn-block' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <button type="button" onclick="location.href='<%= new_class_diagram_classes_path(cldiag_id: params[:id]) %>';" class="btn btn-dark btn-block" accesskey="u">Nova Classe</button>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <fieldset class="border p-2">
        <legend>Lista de Associações</legend>
          <table>
          <thead class="<%= 'd-none' if f.object.classo.empty? %>" id="thead-classo">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="classo">
            <%= f.fields_for :classo do |builder| %>
              <%= render 'classo_fields', f: builder %>
            <% end %>
          </tbody>
        </table>
        <%= link_to_add_association f, :classo, data: { thead: '#thead-classo', focus: '.ref-3', association_insertion_node: '.classo', association_insertion_method: :append }, class:'btn btn-dark btn-cocoon btn-block', accesskey: 'n' do %>Nova Associação<% end %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block" style='margin-top: 35px;'>Salvar Diagrama</button>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= link_to 'Gerar Diagrama', class_diagram_diagramas_path(params[:id]), class:"btn btn-dark btn-block", style: 'margin-top: 35px;' %>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <button type="button" onclick="location.href='<%= class_diagram_diagramas_index_path %>';" class="btn btn-dark btn-block" style="margin-top: 35px;">Voltar</button>
      </div>
    </div>
  </div>
<% end %>
