<h2 class="title">Nova Classe para "<%= @diagrama.nome %>"</h2>
<%= form_for @classe, url: url do |f| %>
  <%= f.text_field :cldiag_id, value: params[:cldiag_id], class: 'd-none' %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :nome %>
        <%= f.text_field :nome, value: val_of(@classe, :nome), class: 'form-control', autofocus: true %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <%= f.label :estereotipo %>
        <%= f.text_field :estereotipo, value: val_of(@classe, :estereotipo), class: 'form-control', autofocus: true %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block" style='margin-top: 35px;' accesskey="s">Efetivar Classe</button>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <button type="button" onclick="location.href='<%= edit_class_diagram_diagramas_path(params[:cldiag_id]) %>';" class="btn btn-dark btn-block" style="margin-top: 35px;" accesskey="v">Voltar</button>
      </div>
    </div>
  </div>

  <!-- Outros Componentes -->

  <div class="row">
    <div class="form-group col-9">
      <fieldset class="border p-2">
        <legend>Lista de Atributos</legend>
        <table>
          <thead class="<%= 'd-none' if f.object.clatri.empty? %>" id="thead-clatri">
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="clatri">
            <%= f.fields_for :clatri do |builder| %>
              <%= render 'clatri_fields', f: builder %>
            <% end %>
          </tbody>
        </table>
        <%= link_to_add_association f, :clatri, data: { thead: '#thead-clatri', focus: '.ref-0', association_insertion_node: '.clatri', association_insertion_method: :append }, class:'btn btn-dark btn-cocoon btn-block', accesskey: 'i' do %>Novo Atributo<% end %>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-9">
      <fieldset class="border p-2">
        <legend>Lista de Métodos</legend>
        <table>
          <thead class="<%= 'd-none' if f.object.clmeto.empty? %>" id="thead-clmeto">
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="clmeto">
            <%= f.fields_for :clmeto do |builder| %>
              <%= render 'clmeto_fields', f: builder %>
            <% end %>
          </tbody>
        </table>
        <%= link_to_add_association f, :clmeto, data: { thead: '#thead-clmeto', focus: '.ref-1', association_insertion_node: '.clmeto', association_insertion_method: :append }, class:'btn btn-dark btn-cocoon btn-block', accesskey: 'm' do %>Novo Método<% end %>
      </fieldset>
    </div>
  </div>

  <!-- Outros Componentes -->

  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block" style='margin-top: 35px;'>Efetivar Classe</button>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <button type="button" onclick="location.href='<%= edit_class_diagram_diagramas_path(params[:cldiag_id]) %>';" class="btn btn-dark btn-block" style="margin-top: 35px;">Voltar</button>
      </div>
    </div>
  </div>
<% end %>
