<h2 class="title">Autenticação da Plataforma</h2>
<%= render 'layouts/shared/notification' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', autofocus: true, autocomplete: "username" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3">
      <button type="submit" class='btn btn-dark btn-block', accesskey='q'>Entrar</button>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>



<%#= link_to 'Switch Tester Mode', tester_mode_path(tester_mode: !$tester_mode), style: 'color: #212529' %><br>

<%# if $tester_mode %>
  <%#= link_to 'Redirect to Root Path', root_path, style: 'color: #212529' %><br>
<%# end %>

<!-- Tester Mode Status: <b><%#= $tester_mode.to_s.upcase %></b> -->

