<tr class="nested-fields">
  <td width="27.5%">
    <%= f.label :cselem_origem_id, 'Elem. Origem' %>
    <%= f.select :cselem_origem_id, CSELEM.where(csdiag_id: params[:id]).pluck(:descricao, :id), {include_blank: false}, {class: 'form-control ref-3'} %>
  </td>
  <td width="27.5%">
    <%= f.label :cselem_destino_id, 'Elem. Destino' %>
    <%= f.select :cselem_destino_id, CSELEM.where(csdiag_id: params[:id]).pluck(:descricao, :id), {include_blank: false}, {class: 'form-control'} %>
  </td>
  <td width="20%">
    <%= f.label :tipo_associacao, 'Associação' %>
    <%= f.select :tipo_associacao, CSASSO.associacoes, {include_blank: false}, {class: 'form-control'} %>
  </td>
  <td>
    <%= f.label :estereotipo, 'Esteótipo' %>
    <%= f.text_field :estereotipo, class: 'form-control', placeholder: 'Estereótipo' %>
  </td>
  <td width="5%"><br><%= link_to_remove_association f, class: 'btn btn-dark btn-block', style: 'margin-top: 10px;' do %>Excluir<% end %></td>
</tr>
