<h2 class="title">Editando o Perfil</h2>

<%= form_for @user, url: users_resources_path do |f| %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', autofocus: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="submit" class='btn btn-dark btn-block', accesskey='s'>Salvar Alteração</button>
    </div>
  </div>
<% end %>
