<tr class="nested-fields">
  <td width="27.5%">
    <%= f.label :mqelem_origem_id, 'Elem. Origem' %>
    <%= f.select :mqelem_origem_id, MQELEM.where(mqdiag_id: params[:id]).pluck(:descricao, :id), {include_blank: false}, {class: 'form-control ref-3'} %>
  </td>
  <td width="27.5%">
    <%= f.label :mqelem_destino_id, 'Elem. Destino' %>
    <%= f.select :mqelem_destino_id, MQELEM.where(mqdiag_id: params[:id]).pluck(:descricao, :id), {include_blank: false}, {class: 'form-control'} %>
  </td>
  <td>
    <%= f.label :descricao, 'Descrição' %>
    <%= f.text_field :descricao, class: 'form-control', placeholder: 'Descrição' %>
  </td>
  <td>
    <%= f.label :estereotipo, 'Estereótipo' %>
    <%= f.text_field :estereotipo, class: 'form-control', placeholder: 'Estereótipo' %>
  </td>
  <td width="5%"><br><%= link_to_remove_association f, class: 'btn btn-dark btn-block', style: 'margin-top: 10px;' do %>Excluir<% end %></td>
</tr>
